# INSEEPTION Project

<u>Etape 1 :</u> extraire les données

Les données que nous voulons sont :

In [9]:
import pandas
df = pandas.read_csv('GrandEst.csv',sep=';')
#df.head()['REGION','DEPT','DIPL_15','EMPL','INPER','MODV','ORIDT','SEXE','SFM','TACT','TRANS','TYPL']
df.head()[['REGION','DEPT','DIPL_15','EMPL','INPER','MODV','ORIDT','SEXE','SFM','TACT','TRANS','TYPL']]

C:\Users\nicolas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,11,12,13,15,18,21,24,39,40,48,49,54,55,56,70,71,77,80,83,84,89,91,92,93,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

   REGION  DEPT DIPL_15 EMPL INPER  MODV  ORIDT  SEXE SFM  TACT TRANS TYPL
0      44    99       A   ZZ     2    40      0     1  30    25     Z    2
1      44    99       A   ZZ     2    40      0     2  30    21     Z    2
2      44    68       A   ZZ     1    50      0     2  12    21     Z    1
3      44    57       B   16     2    31      0     1  30    11     4    2
4      44    57       D   16     2    31      0     2  30    11     4    2